.card {
  border: 4px solid black !important;
}

.card:hover {
  border-color: green !important;
}

.disabled-card {
  opacity: 0.6;
  pointer-events: none;
}

@media (min-width: 992px) {
  .wrapper {
    width: 80%; /* mais largo em desktop */
    max-width: 1200px;
  }

  .card-item {
    width: 160px;
    height: auto;
    padding: 1rem;
  }

  .card-item h5 {
    font-size: 1.2rem;
  }

  .card-item p {
    font-size: 1rem;
  }

  .log-batalha {
    font-size: 1.1rem;
    padding: 1rem;
  }

  .info-player {
    font-size: 1.2rem;
  }
}
